{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}
  Reset your Password
{% endblock %}

{% block content %}
  <p>Hello,</p>
  <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>

  <a class="reset" href="{{ reset_link }}">Reset password</a>

  <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
  <p>If you did not request a passoword reset, please ignore this email.</p>
  <p>Best regards,</p>
  <p>Your Videoflix Team</p>
  <img class="logo" src="{% static 'authentication/images/Logo.svg' %}" alt="Videoflix Logo" />
{% endblock %}
